<?xml version="1.0" encoding="utf-8" ?>

<!-- This section contains the log4net configuration settings -->
<log4net debug="true">
  <!--  Pattern Definitions:       -->
  <!--  %d   Date/Time             -->
  <!--  %t   Thread                -->
  <!--  %p   Debug Level:  FATAL/ERROR/WARN/INFO/DEBUG  -->
  <!--  %c   NameSpace/Class Name  -->
  <!--  %m   Message from Code     -->
  <!--  %n   Newline               -->
  <!--  %C - Fully qualified class name  -->
  <!--  %M - Method name                 -->
  <!--  %F - File name                   -->
  <!--  %L - Line number                 -->
  <!--  %l - Shortcut for %F%L%C%M       -->

  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd - HH:mm:ss} [%t] %-5p [%c::%M::%L]: %m%n" />
    </layout>
  </appender>

  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <file               value=".\\myrolling.log" />
    <appendToFile       value="true"/>
    <rollingStyle       value="Size"/>
    <maxSizeRollBackups value="20" />
    <maximumFileSize    value="1MB" />
    <staticLogFileName  value="true" />
    <layout type="log4net.Layout.PatternLayout,log4net">
      <param name="ConversionPattern" value="%d{yyyy-MM-dd - HH:mm:ss} [%t] %-5p [%c::%M::%L]: %m%n" />
    </layout>
  </appender>

  <appender name="SMTPAppender" type="log4net.Appender.SMTPAppender">
    <param name="To"           value="ray@crucial-web.com" />
    <param name="From"         value="ray@crucial-web.com" />
    <param name="Subject"      value="test logging message" />
    <param name="SMTPHost"     value="localhost" />
    <!-- <param name="SMTPHost"     value="smtp.email.com" /> -->
    <!-- <param name="SMTPHost"     value="" /> -->
    <param name="LocationInfo" value="false" />
    <param name="BufferSize"   value="512" />
    <param name="Lossy"        value="false" />
    <layout type="log4net.Layout.PatternLayout">
      <param name="ConversionPattern" value="%n%d [%t] %-5p %c [%x] - %m%n%n%n" />
    </layout>
  </appender>

  <root>
    <level value="DEBUG" />
    <appender-ref ref="ConsoleAppender" />
    <appender-ref ref="RollingFileAppender" />
    <!-- <appender-ref ref="SMTPAppender" /> -->
  </root>
</log4net>
