<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="key1" value="value1"/>
    <add key="poll_dirwithext" value="c:\\polling\\watch1|*.bd1;"/>
    <add key="poll_timerinterval" value="0.5"/>


    <!--  <add key="poll_dirwithextZZZ" value="c:\\polling\\watch1|*.txt;c:\\polling\\watch2|*.txt;c:\\polling\\watch3|*.txt"/>  -->
  
  </appSettings>
</configuration>